QPushButton {
    background-color: #1A191A;
    color: white;
    border-width: 1px;
}
QDialog#main_window {
    background-color: #333233;
}
QDialog#pop_up{
    background-color: #333233;
}
QTreeWidget#file_tree {
    background-color:#1A191A;
} 
QListWidget#list_view {
    background-color:#1A191A;
}
QLineEdit{
    background-color:#1A191A;
    color: white;
}
QHeaderView{
    background-color:#1A191A;
    color: white;
}